<!-- Page content -->
<section class="bg-size-cover bg-position-bottom-center bg-repeat-0 py-5" style="background-image: url(<%= asset_path("bg.svg") %>);">
  <div class="container pb-lg-4 pb-xl-5">

    <!-- Breadcrumb -->
    <nav class="pt-lg-4" aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">
          <a href="index.html"><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Contact</li>
      </ol>
    </nav>

    <div class="row pt-md-2 pb-2 pb-md-4">
      <div class="col-xxl-4 col-xl-5 col-lg-6 pt-3 mt-3">
        <h1 class="h3 mb-2">Want to work with us?</h1>
        <h2 class="display-1 text-gradient-primary pb-sm-2 pb-md-3 mb-3">Let's talk!</h2>
        <div class="nav d-block lead">
          <div class="text-nav">Bareket Gelbhart</div>
          <div class="text-nav">International Business Manager</div>
          <a href="" class="nav-link fw-normal text-decoration-underline p-0 mb-2">bareketg@eldan.biz</a>
          <div class="text-nav">+41 797 995 117</div>
        </div>
      </div>
      <div class="col-lg-6 offset-xl-1 offset-xxl-2 pt-3 pt-md-4 pt-lg-3 mt-3">
        <form class="needs-validation" novalidate>
          <div class="row g-4">
            <div class="col-sm-6">
              <label for="fn" class="form-label fs-base">Full name</label><div class="input-group">
                <span class="input-group-text">
                  <i class='bx bx-rename' ></i>
                </span>
                <input type="text" class="form-control form-control-lg" id="fn" placeholder="John Doe" required>
              </div>
              <div class="invalid-feedback">Please enter your full name!</div>
            </div>
            <div class="col-sm-6">
              <label for="email" class="form-label fs-base">Email</label><div class="input-group">
                <span class="input-group-text">
                  <i class='bx bx-envelope'></i>
                </span>
                <input type="email" class="form-control form-control-lg" id="email" placeholder="john.doe@gmail.com" required>
              </div>
              <div class="invalid-feedback">Please provide a valid email address!</div>
            </div>
            <div class="col-sm-12">
              <label for="subject" class="form-label fs-base">Subject</label>
              <div class="input-group">
                <span class="input-group-text">
                  <i class='bx bx-book' ></i>
                </span>
                <input type="text" class="form-control form-control-lg" id="subject" placeholder="Write your subject here..." value="<%= @via %>" required>
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">Choose a subject</button>
                <div class="dropdown-menu my-1">
                  <div class="d-lg-flex pt-lg-3">
                    <div class="mega-dropdown-column">
                      <h6 class="px-3 mb-2">Products</h6>
                      <ul class="list-unstyled mb-3">
                        <li><a class="dropdown-item" href="#" onclick="changeInputText(this.innerText)">⁹⁹Mo/⁹⁹ᵐTc Generator</a></li>
                        <li><a class="dropdown-item" href="#" onclick="changeInputText(this.innerText)">Thallium Chloride (²⁰¹TI) injection</a></li>
                        <li><a class="dropdown-item" href="#" onclick="changeInputText(this.innerText)">Gallium citrate (Ga-67) injection</a></li>
                      </ul>
                    </div>
                    <div class="mega-dropdown-column">
                      <h6 class="px-3 mb-2">About</h6>
                      <ul class="list-unstyled mb-3">
                        <li><a class="dropdown-item" href="#" onclick="changeInputText(this.innerText)">Molecular Imaging</a></li>
                        <li><a class="dropdown-item" href="#" onclick="changeInputText(this.innerText)">Eldan</a></li>
                        <li><a class="dropdown-item" href="#" onclick="changeInputText(this.innerText)">Neopharm</a></li>
                      </ul>
                    </div>
                    <div class="mega-dropdown-column">
                      <h6 class="px-3 mb-2">Partners</h6>
                      <ul class="list-unstyled">
                        <li><a class="dropdown-item" href="#" onclick="changeInputText(this.innerText)">Isorad</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="invalid-feedback">Please provide a valid subject!</div>
            </div>
            <div class="col-12 pb-2">
              <label for="message" class="form-label fs-base">Message</label>
              <div class="input-group">
                <span class="input-group-text">
                  <i class="bx bx-message fs-lg"></i>
                </span>
                <textarea class="form-control form-control-lg" id="message" rows="3" placeholder="Write your message here..." required></textarea>
              </div>
              <div class="invalid-feedback">Please provide a valid message!</div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-lg btn-primary w-100 w-sm-auto">Contact Us</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  function changeInputText(value){
    document.getElementById('subject').value = value;
  }
</script>