<section class="position-relative bg-secondary pt-5">
  <div class="container position-relative zindex-2 pt-5">
    <img src="<%= asset_path("human.gif") %>" width="500" alt="Eldan Molecular Imaging">
    <img src="<%= asset_path("logo.png") %>" width="500" alt="Eldan Molecular Imaging">
  </div>
</section>