<!-- Hero -->
<section class="jarallax position-relative d-flex align-items-center min-vh-100 bg-light py-lg-5 pt-md-5 pt-sm-5" style="background-image: url(<%= asset_path("hero-bg.svg") %>);" data-jarallax data-img-position="0% 100%" data-speed="0.5">
  <div class="container position-relative zindex-5 py-md-5">
    <div class="row justify-content-md-start justify-content-center">
      <div class="col-md-6 col-sm-8 order-md-1 order-2 d-flex flex-column justify-content-between mt-md-4 pt-2 text-md-start text-center">
        <div class="mb-md-5 pb-xl-5">

          <!-- Text -->
          <h1 class="display-2 mb-md-5 mb-3 pb-3">
            Looking <span class="text-gradient-primary">Beyond!</span>
          </h1>
          <div class="d-md-flex align-items-md-start">
            <a href="<%= contacts_path %>" class="btn btn-lg btn-primary flex-shrink-0 me-md-4 mb-md-0 mb-sm-4 mb-3">Work with us</a>
            <p class="d-lg-block mb-0 ps-md-3">To provide you with the best radiopharmaceutical products, best service, and best distribution channels, so you can provide your patients and caregivers, top-quality products as soon as they need them.</p>
          </div>
        </div>
      </div>

      <!-- Animated gfx -->
      <div class="d-none d-md-block parallax col-md-6 order-md-2">
        <div class="parallax-layer" data-depth="0.1">
          <img src="<%= asset_path("human.gif") + "?a=" + rand().to_s %>" alt="Eldan Molecular Imaging">
        </div>
      </div>
      <div class="d-md-none mt-sm-4">
        <img src="<%= asset_path("human.gif") + "?a=" + rand().to_s %>" alt="Eldan Molecular Imaging">
      </div>
    </div>
  </div>
</section>