<style>
  section {
    background: url("<%= asset_path("hero-bg.svg") %>") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  @media screen and (min-width: 1200px) {
    h1 {
      white-space: nowrap;
    }
  }
</style>

<!-- Hero -->
<section class="jarallax position-relative d-flex align-items-center min-vh-100 bg-light" data-jarallax data-img-position="0% 100%" data-speed="0.5">
  <div class="container position-relative mt-5 mt-sm-0">
    <div class="row justify-content-center justify-content-lg-start">
      <div class="col-sm-6 col-md-7 col-lg-6 col-xl-5 order-2 order-sm-1 d-flex flex-column text-center text-lg-start pt-lg-5">

        <!-- Text -->
        <h1 class="display-2 pb-3">
          Looking <span class="text-gradient-primary">Beyond!</span>
        </h1>
        <div class="d-lg-flex align-items-start">
          <a class="btn btn-primary flex-lg-shrink-0 mb-3 me-lg-4" href="<%= contacts_path %>">Work with us</a>
          <p class="d-block">To provide you with the best radiopharmaceutical products, best service, and best distribution channels, so you can provide your patients and caregivers, top-quality products as soon as they need them.</p>
        </div>
      </div>

      <!-- Animated gfx -->
      <div class="col-sm-6 col-md-5 col-lg-6 col-xl-7 parallax order-1 order-sm-2 pt-2 pt-sm-0 flex-lg-grow-2">
        <div class="parallax-layer" data-depth="0.1">
          <img src="<%= asset_path("human.gif") + "?a=" + rand().to_s %>" alt="Eldan Molecular Imaging">
        </div>
      </div>
    </div>
  </div>
</section>