<style>
  div.rellax {
    text-align: center;
  }
  a {
    text-decoration: none;
  }
</style>

<!-- Breadcrumb -->
<nav class="container py-4 my-lg-3" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item">
      <a href="<%= root_path %>"><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Partners</li>
  </ol>
</nav>


<!-- Page title -->
<section class="container d-sm-flex align-items-center justify-content-between pb-4 mb-2 mb-lg-3">
  <h1 class="mb-sm-0 me-sm-3">Our Partners</h1>
</section>


<!-- Partner list -->
<section class="container pb-2 pb-lg-3">

  <!-- Item -->
  <div class="row pb-5 mb-md-4 mb-lg-5">
    <div class="rellax col-md-4 ps-md-4" data-rellax-percentage="0.5" data-rellax-speed="-0.6" data-disable-parallax-down="md">
      <img src="<%= asset_path("logo.png") %>" class="rounded-3" height="50" alt="Image" style="height: 150px;">
      <a href="" target="_blank"><h2 class="h3">Lorem Ipsum</h2></a>
      <p class="d-md-none d-lg-block pb-3 mb-2 mb-md-3">
        Ex culpa laborum aliquip dolore esse. Dolor amet tempor ex ipsum nostrud adipisicing amet eiusmod do labore aliqua tempor elit minim. Excepteur sit nisi proident labore non fugiat. Ullamco fugiat do quis et occaecat laborum.
      </p>
    </div>
    <div class="rellax col-md-4 ps-md-4" data-rellax-percentage="0.5" data-rellax-speed="-0.6" data-disable-parallax-down="md">
      <img src="<%= asset_path("isorad_logo.png") %>" class="rounded-3" alt="Image" style="height: 150px;">
      <a href="http://www.isorad.co.il/en/" target="_blank"><h2 class="h3">Isorad</h2></a>
      <p class="d-md-none d-lg-block pb-3 mb-2 mb-md-3">
        Established more than 40 years ago, Isorad Radiopharmaceuticals is a leading manufacturer of SPECT, PET, MRI contrast agents, and nuclear products, located in the SOREQ Nuclear Research Center (Soreq NRC) near Yavne, Israel.
      </p>
    </div>
    <div class="rellax col-md-4 ps-md-4" data-rellax-percentage="0.5" data-rellax-speed="-0.6" data-disable-parallax-down="md">
      <img src="<%= asset_path("logo.png") %>" class="rounded-3" height="50" alt="Image" style="height: 150px;">
      <a href="" target="_blank"><h2 class="h3">Lorem Ipsum</h2></a>
      <p class="d-md-none d-lg-block pb-3 mb-2 mb-md-3">
        Cillum consequat aute consequat consectetur deserunt qui enim consectetur dolor voluptate incididunt enim sit nulla. Laboris consectetur in tempor cupidatat et ipsum excepteur exercitation eu laboris ipsum. Irure duis proident elit pariatur. Exercitation dolor deserunt laboris nisi culpa tempor.
      </p>
    </div>
  </div>
</section>