<h2>Introduction</h2>

<p class="fs-sm">The Neopharm Group acts to provide accessible service to all its customers with the responsibility and inclusion as required by law.</p>
<p class="fs-sm">This page was established in accordance with the requirements of the Equal Rights for People with Disabilities (Accessibility Adjustments to the Service) Regulations, 2013 in order to inform you how to enjoy the Company’s accessibility arrangements.</p>
<p class="fs-sm">For questions, inquiries or clarifications, please contact the Neopharm Group's Call Center line:<br> Tel: 1-800-250-255</p>
<p class="fs-sm">If you are required to have an alternative route of communication, please contact<br> callcenter@neopharmgroup.com</p>
<p class="fs-sm">The Organizational Accessibility Coordinator is Keren Moreno – negishut@neopharmgroup.com, tel. 03-9373750</p>

<h2>Site Accessibility</h2>
<p class="fs-sm">This site is powered by accessibility software operated by a dedicated accessibility server. The software allows the site to meet the guidelines for accessibility of content on the Internet WCAG 2.0 at AA level. The software is subject to the manufacturer's terms of use.</p>

<h3 class="fs-4">How site accessibility works:</h3>
<p class="fs-sm">An accessibility menu is posted on the site. Clicking the menu allows you to open the accessibility buttons. After selecting a topic in the menu, wait for the page to load. For details about the accessibility of the site, you can click the accessibility button.</p>

<h3 class="fs-4">Use of the website:</h3>
<p class="fs-sm">Below are some of the actions taken to accessibilize the website:</p>
<ul>
  <li class="pb-2"> Offering text alternatives to all components that are not text.</li>
  <li class="pb-2"> Use of textual links rather than graphic links.</li>
  <li class="pb-2"> Navigating the site is possible with the keyboard.</li>
  <li class="pb-2"> Added fast links allow surfers to skip reading menus and go straight to the page content.</li>
  <li class="pb-2"> Use of high contrast in order to make text more readable.</li>
</ul>
<h4 class="fs-5 text-decoration-underline">Enlarging website text</h4>
<ul>
  <li class="pb-2"> To increase text size: Use Ctrl + .</li>
  <li class="pb-2"> To reduce text size: Use Ctrl – .</li>
  <li class="pb-2"> To revert text to original size: Use Ctrl 0.</li>
</ul>
<h4 class="fs-5 text-decoration-underline">Changing screen display size</h4>
<ul>
  <li class="pb-2"> Increase screen size: Press the F11 key.</li>
  <li class="pb-2"> Reduce screen size to original: Press the F11 key again.</li>
</ul>
<h4 class="fs-5 text-decoration-underline">Using keyboard shortcuts</h4>
  <p class="fs-sm">This site contains keyboard shortcuts for quickly moving between relevant content pages. Choose the one that matches your browser.</p>

<h5 class="fs-6">ALT + - for the following browsers:</h5>
<ul>
  <li class="pb-2"> Internet Explorer for Windows</li>
  <li class="pb-2"> Chrome for Windows</li>
  <li class="pb-2"> Safari for Windows</li>
</ul>
<h5 class="fs-6">Shift + Alt + for the following browsers:</h5>
<ul>
  <li class="pb-2"> Firefox for Windows</li>
</ul>
<h5 class="fs-6">Ctrl + Option + for the following browsers:</h5>
<ul>
  <li class="pb-2"> Safari for Mac</li>
  <li class="pb-2"> Chrome for Mac</li>
  <li class="pb-2"> Firefox for Mac</li>
</ul>
<h5 class="fs-6">Note the following shortcuts:</h5>
<ul>
  <li class="pb-2"> S – skips to “page content”</li>
  <li class="pb-2"> M – skips to “main menu”</li>
  <li class="pb-2"> 0 – moves to “Accessibility”</li>
</ul>

<h2>Clarification</h2>
<p class="fs-sm">Despite our efforts to enable browsing of an accessible site for all the pages of the site, pages may be discovered on the site that have not yet been accessible, or the appropriate technological solution may not yet be found. We continue our efforts to improve the accessibility of the site, as much as possible, with a faith and moral obligation to enable the use of the site for the entire population, including people with disabilities.</p>

<h2>Ways to contact</h2>
<p class="fs-sm">If you have questions, requests, suggestions for improvement we will be happy to receive your request and assist with:<br> Email: callcenter@neopharmgroup.com<br> Phone : 1-800-250-255<br> In addition, you can also contact the company's accessibility coordinator: Keren Moreno, negishut@neopharmgroup.com</p>