<div class="col-md-6 px-4 px-lg-0">
  <p class="pe-lg-4 mb-1">
    Established as part of the Eldan group of companies, Eldan Molecular Imaging is a young solid company, focused on supporting patients and physicians, by providing them with the highest-level products needed for diagnostic imaging & Nuclear Medicines procedures.
    <br><br>
    Leveraging on Eldan experience and professionals, Eldan Molecular Imaging distributes its products worldwide, supported by its technical services, regulatory and quality management.
  </p>
</div>
<div class="col-md-6 px-4 px-lg-0">
  <p class="ps-lg-4 mb-1">
    Looking beyond local channels, traditionally serving the industry needs, Eldan Molecular Imaging developed a world-wide network to help patients & physicians benefit from its global reach coupled with local perspective.
  </p>
</div>