<div class="col-md-6 px-4 px-lg-0">
  <p class="fs pe-lg-4 mb-1">
    Neopharm Group, established in 1941, is one of Israel’s leading providers of innovative integrated solutions across the spectrums of healthcare and life science.
    <br><br>
    Throughout the years, the group has evolved into a diversified health care company. At Neopharm Group, we specialize in building leadership and combining strengths in the areas of pharmaceuticals, biologicals, orphan drugs, vaccines, hospital products, medical devices, medical and scientific equipment, diagnostics, OTC, nutritionals, consumer healthcare products and home therapy.
  </p>
</div>
<div class="col-md-6 px-4 px-lg-0">
  <p class="ps-lg-4 mb-1">
    Neopharm Group currently employs over 900 talented employees world wide with revenues exceed 400 million USD.
    <br><br>
    Our active sales and medical teams are deployed throughout the country and work to maintain the group’s top positioning in marketing and sales for branded pharmaceuticals and consumer health products. Our service engineering teams and application specialists specialize in servicing our medical and life-science product lines.
  </p>
</div>