<section class="container my-md-3 my-lg-5">
  <div class="row align-items-center">
    <div class="col-md-8">
      <div class="row row-cols-1 row-cols-md-3">
        <div class="col text-md-center pb-2 mb-4">
          <ul class="d-md-none list-unstyled">
            <li class="d-flex align-items-center p-2">
              <span class="text-dark fw-medium">Indication:&nbsp;</span>
              Myocardial scintigraphy<br>
              Tumour detection<br>
              Parathyroid scintigraph
            </li>
            <li class="d-flex align-items-center p-2 bg-secondary">
              <span class="text-dark fw-medium">Manufacturer:&nbsp;</span>
              <a class="text-decoration-none" href="http://www.isorad.co.il/en/" target="_blank">Isorad Radiopharmaceuticals, Israel</a>
            </li>
            <li class="d-flex align-items-center p-2">
              <span class="text-dark fw-medium">Activity Reference Time:&nbsp;</span>
              ART 18.00 hr CET
            </li>
            <li class="d-flex align-items-center p-2 bg-secondary">
              <span class="text-dark fw-medium">Storage:&nbsp;</span>
              Room temperature
            </li>
            <li class="d-flex align-items-center p-2">
              <span class="text-dark fw-medium">Expiration:&nbsp;</span>
              10 days after ART
            </li>
            <li class="d-flex align-items-center p-2 bg-secondary">
              <span class="text-dark fw-medium">Half Life:&nbsp;</span>
              73.0 hours
            </li>
            <li class="d-flex align-items-center p-2">
              <span class="text-dark fw-medium">Gamma Energy:&nbsp;</span>
              167 keV
            </li>
            <li class="d-flex align-items-center p-2 bg-secondary">
              <span class="text-dark fw-medium">Radionuclidic purity:&nbsp;</span>
              <sup>200</sup>TI: < 1%<br>
              <sup>202</sup>Tl: < 0.5%
            </li>
            <li class="d-flex align-items-center p-2">
              <span class="text-dark fw-medium">Specific Activity:&nbsp;</span>
              > 18.5 GBq/mg
            </li>
            <li class="d-flex align-items-center p-2 bg-secondary">
              <span class="text-dark fw-medium">Radioactive concentration:&nbsp;</span>
              37 MBq/ml at ART
            </li>
            <li class="d-flex align-items-center p-2">
              <span class="text-dark fw-medium">Composition:&nbsp;</span>
              <sup>201</sup>Tl as Thallium chloride<br>
              1 ml sterile, isotonic sodium chloride solution
            </li>
            <li class="d-flex align-items-center p-2 bg-secondary">
              <span class="text-dark fw-medium">pH:&nbsp;</span>
              4.5 – 7.5
            </li>
            <li class="d-flex align-items-center p-2">
              <span class="text-dark fw-medium">SPC:&nbsp;</span>
              N/A
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="d-none d-md-block mt-2 pb-4">
    <div class="row g-0 bg-secondary rounded-3">
      <div class="col-md-3"></div>
      <div class="col-md-3 text-dark fw-semibold ps-4 pe-2 py-4">Indication</div>
      <div class="col-md-3 px-2 py-4 text-center">
        Myocardial scintigraphy<br>
        Tumour detection<br>
        Parathyroid scintigraph
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row g-0">
      <div class="col-md-3"></div>
      <div class="col-md-3 text-dark fw-semibold ps-4 pe-2 py-4">Manufacturer</div>
      <div class="col-md-3 px-2 py-4 text-center"><a class="text-decoration-none" href="http://www.isorad.co.il/en/" target="_blank">Isorad Radiopharmaceuticals, Israel</a></div>
      <div class="col-md-3"></div>
    </div>
    <div class="row g-0 bg-secondary rounded-3">
      <div class="col-md-3"></div>
      <div class="col-md-3 text-dark fw-semibold ps-4 pe-2 py-4">Activity Reference Time</div>
      <div class="col-md-3 px-2 py-4 text-center">ART 18.00 hr CET</div>
      <div class="col-md-3"></div>
    </div>
    <div class="row g-0">
      <div class="col-md-3"></div>
      <div class="col-md-3 text-dark fw-semibold ps-4 pe-2 py-4">Storage</div>
      <div class="col-md-3 px-2 py-4 text-center">Room Temperature</div>
      <div class="col-md-3"></div>
    </div>
    <div class="row g-0 bg-secondary rounded-3">
      <div class="col-md-3"></div>
      <div class="col-md-3 text-dark fw-semibold ps-4 pe-2 py-4">Expiration</div>
      <div class="col-md-3 px-2 py-4 text-center">10 days after ART</div>
      <div class="col-md-3"></div>
    </div>
    <div class="row g-0">
      <div class="col-md-3"></div>
      <div class="col-md-3 text-dark fw-semibold ps-4 pe-2 py-4">Half Life</div>
      <div class="col-md-3 px-2 py-4 text-center">73.0 hours</div>
      <div class="col-md-3"></div>
    </div>
    <div class="row g-0 bg-secondary rounded-3">
      <div class="col-md-3"></div>
      <div class="col-md-3 text-dark fw-semibold ps-4 pe-2 py-4">Gamma Energy</div>
      <div class="col-md-3 px-2 py-4 text-center">167 keV</div>
      <div class="col-md-3"></div>
    </div>
    <div class="row g-0">
      <div class="col-md-3"></div>
      <div class="col-md-3 text-dark fw-semibold ps-4 pe-2 py-4">Radionuclidic purity</div>
      <div class="col-md-3 px-2 py-4 text-center">
        <sup>200</sup>TI: < 1%<br>
        <sup>202</sup>Tl: < 0.5%
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row g-0 bg-secondary rounded-3">
      <div class="col-md-3"></div>
      <div class="col-md-3 text-dark fw-semibold ps-4 pe-2 py-4">Specific Activity</div>
      <div class="col-md-3 px-2 py-4 text-center">> 18.5 GBq/mg</div>
      <div class="col-md-3"></div>
    </div>
    <div class="row g-0">
      <div class="col-md-3"></div>
      <div class="col-md-3 text-dark fw-semibold ps-4 pe-2 py-4">Radioactive concentration</div>
      <div class="col-md-3 px-2 py-4 text-center">37 MBq/ml at ART</div>
      <div class="col-md-3"></div>
    </div>
    <div class="row g-0 bg-secondary rounded-3">
      <div class="col-md-3"></div>
      <div class="col-md-3 text-dark fw-semibold ps-4 pe-2 py-4">Composition</div>
      <div class="col-md-3 px-2 py-4 text-center">
        <sup>201</sup>Tl as Thallium chloride<br>
        1 ml sterile, isotonic sodium chloride solution
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row g-0">
      <div class="col-md-3"></div>
      <div class="col-md-3 text-dark fw-semibold ps-4 pe-2 py-4">pH</div>
      <div class="col-md-3 px-2 py-4 text-center">4.5 – 7.5</div>
      <div class="col-md-3"></div>
    </div>
    <div class="row g-0 bg-secondary rounded-3">
      <div class="col-md-3"></div>
      <div class="col-md-3 text-dark fw-semibold ps-4 pe-2 py-4">SPC</div>
      <div class="col-md-3 px-2 py-4 text-center">N/A</div>
      <div class="col-md-3"></div>
    </div>
  </div>
</section>