<div>

  <!-- Breadcrumb -->
  <nav class="container py-3" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item">
        <a href="<%= root_path %>"><i class="bx bx-home-alt fs-md me-2" role="none"></i>Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page"><%= @title.split(' / ').first %></li>
    </ol>
  </nav>

  <!-- Document Content -->
  <section class="container text-center text-sm-start">
    <h1 class="d-inline border-bottom"><%= @title.split(' / ').first %></h1>
    <div class="mt-3 mx-3 d-block pb-5 col-lg-8">
      <%= yield %>
    </div>
  </section>

</div>